<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <h3>Bienvenido a <%= title %>, lo tenemos todo y lo que no te lo creamos 😎</h3>

    <h2>Tags</h2>
    <div>
        <% tags.forEach(tag => { %>
            <span class="tag"><%= tag %></span>
        <% }) %>
    </div>  
  </body>
</html>